fastapi
uvicorn
google-cloud-storage
google-auth
google-generativeai
asyncpg
pgvector
sqlalchemy
langchain-text-splitters
pymupdf
python-dotenv
pydantic
pydantic-settings
requests
python-multipart
openai
httpx
google-cloud-aiplatform
