fastapi
uvicorn
streamlit
google-cloud-aiplatform
google-cloud-storage
google-auth
google-generativeai
asyncpg
pgvector
sqlalchemy
langchain-text-splitters
pymupdf
python-dotenv
asyncio
pydantic
pydantic-settings
requests
python-multipart
torch
sentence-transformers
openai
